#Ignorer tous les fichiers pyc
*.pyc
*~
*.bak
FlOpEDT/logs/*
FlOpEDT/*.log
*.sol
*.mps
.idea/
.vscode/
node_modules
*.lp
docker/env/web.prod.env
docker/env/db.prod.env
global.env
venv/*
FlOpEDT/media/configuration*
!FlOpEDT/media/configuration/empty_database_file.xlsx
!FlOpEDT/media/configuration/empty_planif_file.xlsx
FlOpEDT/misc/logs
/FlOpEDT/var/static/
