version: '3.8'

services:
  db:
    image: postgres
    profiles:
      - full
    environment:
      PGDATA: /var/lib/postgresql/data/flopedt-${BRANCH:-master}
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5445:5432"

  redis:
    image: redis:latest
    profiles:
      - full
    ports:
      - "${REDIS_PORT-6379}:6379"

  web:
    build:
      context: .
      args:
        CONFIG: development
    profiles:
      - full
    env_file: 
      - ./docker/env/db.env
      - ./docker/env/web.env
    environment:
      - DJANGO_SETTINGS_MODULE=FlOpEDT.settings.development
      - START_SERVER=${START_SERVER:-on}
      - DJANGO_LOADDATA
      - CONFIG=development
    entrypoint: /code/docker/script/init.sh      
    volumes:
      - .:/code
    ports:
      - "${PORT-80}:8000"
    depends_on:
      - db
      - redis
      - vue

  vue:
    build:
      dockerfile: ./Dockerfile-Vue
    profiles:
      - full
    user: "${UID}:${GID}"
    environment:
      - CONFIG=development
    volumes:
      - ./FlOpEDT:/code/FlOpEDT/
    ports:
      - "8080:8000"
