{% extends "base.html" %}

{% csrf_token %}



{% block title %} EDT {% endblock %}

{% block content %}
{% load static %}

<html>
    <body>
        <style>
            .rooms-container {
                display: flex;
                flex-direction: row;
            }

            .rooms {
                margin: 0 10px;
            }

            .pref{
                display: flex;
                flex-direction: row;
            }

        </style>
        <div id="main-container">
            <h1>Mes preferences de salles</h1>


            <div id="rooms-table" class="rooms-container">

            </div>
        </div>
    <script>
                         var data = "{% url 'base:fetch_rooms' department='INFO' %}" ;

                         $.ajax({
                            type: "GET",
                            dataType: 'json',
                            url: data,
                            async: true,
                            contentType: "text/json",
                            success: function(msg, ts, req) {
                            
                            let container = document.getElementById('rooms-table');
                             for(const type in msg.roomtypes) {
                                let rooms = msg.roomtypes[type];
                                console.log(rooms.length);
                                let roomContainer = document.createElement('div');
                                roomContainer.setAttribute('class', 'rooms');
                                roomContainer.setAttribute('id', type);
                                let title = document.createElement('strong');
                                title.innerText = type;
                                roomContainer.append(title)
                                rooms.forEach(r => {
                                       let room = document.createElement('div');
                                       let pref = document.createElement('form');

                                       room.setAttribute('class', 'pref');
                                       pref.innerHTML = `<select name="pref">
                                                            <option selected>Peu importe</option>
                                                            <option>Préféré</option>
                                                            <option>À exclure</option>
                                                         </select>`;
                                       room.setAttribute('id', r);
                                       room.innerText = r;

                                       roomContainer.append(room);
                                       room.append(pref);

                                })

                                container.append(roomContainer);

                             }
                              let mainContainer = document.getElementById('main-container');
                              let submit = document.createElement('submit');
                              submit.innerHTML = `<input type="submit" value="Valider" onclick=alert("OK") />`;
                              mainContainer.append(submit);



                            },
                            error: function(msg) {
                                console.log("error");
                            }
                        })



        </script>
    </body>
</html>

{% endblock %}

