AIDE

Cliquer droit sur le cours en question, les salles disponibles apparaissent. Cliquer sur + pour choisir une salle non prévue pour ce cours. Ne pas oublier de valider tout changement.

Ici

Cliquer sur son pseudo (ses initiales) en haut à droite de la page.


Au moment de la génération de l'emploi du temps d'une semaine donnée, si aucune disponibilité n'est renseignée pour cette semaine, la semaine type définit les disponibilités.

Cliquer sur 			pour modifier son mot de passe

for a password reminder, or via "Login" at the top of the page.

pour un rappel de mot de passe, ou via "Se connecter" en haut de page.

DEPARTEMENTS :

"Veuillez choisir votre département :"

moduledescription :

"Modification de la description du module"

ROOM PREFERENCE : 

(Classement de vos salles préférées, pouvant contenir des égalités.)

SHOW DECALE : 

Cours annulé
Cours en attente
Cours placé en semaine

Comment ?

SHOW EDT

Vérifier élection
Élire cette copie
Dupliquer cette copie
Supprimer cette copie
Supprimer toutes les copies sauf la 0
Réassigner les salles

SHOW STYPE
Profs
Transformation en
Types de cours

statistic.html

Nombre de jours d'innocupation par salle

Nombre de cours donnés par professeur