{% extends "base.html" %}

{% csrf_token %}



{% block title %} EDT {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'base/room_preference.css' %}" />
<html>
  <body>
    <div id="main-container">
      <h1>Mes preferences de salles</h1>
      
      
      <div id="rooms-table-sec" class="rooms-container">
        {% for roomtype, roomgroup_list in donnees.roomtypes.items %}
        <div class="rooms" id="{{roomtype}}">
          <strong>{{roomtype}}</strong>
          {% for roomgroup in roomgroup_list %}
          <div class="pref" id="{{roomgroup}}">
            {{roomgroup}}
            <form>
              <select name="pref">
                {% for rank in roomgroup_list %}
                <option value={{forloop.counter}}>{{forloop.counter}}</option>
                {% endfor %}
                <option value=-1>NON</option>
              </select>
            </form>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <input type="submit" value="Valider" onclick="exporter()" />
    </div>
    <script>
                        var user = "{{user}}";

                        function exporter() {
                                alert("Envoyer");
                                var dico1 = new Map();
                                var dico2 = new Map();

                                dico1.set('tutor',user);

                                for (t in donnees.roomtypes){
                                    var pref = [];
                                    for (s of donnees.roomtypes[t]){
                                        var temp = new Map();
                                        temp.set('roomgroup', s);
                                        temp.set('value', 1);
                                        pref.push(temp);
                                    }
                                    dico2.set(t,pref);
                                }
                                dico1.set('roompreferences', dico2);

                                console.log(dico1);

                             }




        </script>
    </body>
</html>

{% endblock %}

