html {
    height: 100%;
}
body {
    height: 100%;
}
.nonfluid {
   width: auto !important;
}
.bmd-btn-fab-sm {
    font-size: 0.7em !important;
}
.bg-dark {
    background-color: #343a40 !important;
}
#main .btn-secondary:hover {
    background-color: white !important;
    color: grey !important;
}
#modal-create-department .modal-body {
    padding-bottom: 0;
}

#modal-create-department .bmd-form-group {
    padding-top: 0;
}
