* {
    font-family: Arial, sans-serif;
    user-select: none;
}

.transition {
    transition: 0s;
}

:root {
    --whitish: #f7f8f3;
    /* --whitish: transparent; */
    --white: #fff;
    /* --white: transparent; */
    --primary1: #2c83c6;
    --primary2: #39a8f0;
    --primary3: #62beef;
    --primary4: #a6d4ec;
    --danger1: #c33726;
    --danger2: #e24c33;
    --danger3: #dd6d55;
    --danger4: #e1a793;
    --neutral: #e3e3e3;
    --dark: #333;
}

body>div {
    margin: 0;
    min-height: 100vh;
}

.page {
    width: inherit;
    max-width: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.search-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--white);
    padding: 10px;
    min-width: 200px;
    max-width: 200px;
    padding-bottom: 120px;
    border-right: solid 2px var(--dark);
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-modifier-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 50px;
    padding-right: 50px;
}

.text-field {
    padding: 5px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    width: 180px;
}

.pad-children * {
    padding: 10px;
}


/* .button {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.button button {
    border-radius: 5px;
    border: none;
}

.button.neutral {
    
} */

.constraints-body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: var(--white);
    padding-bottom: 120px;
    flex-grow: 1;
}

.constraint-info {
    position: sticky;
    height: 100px;
    top: 0px;
    background-color: var(--white);
    border-bottom: solid 2px var(--dark);
    display: flex;
    flex-direction: row;
    /* align-content: stretch; */
    align-items: stretch;
    justify-content: space-between;
}

.constraint-info-body {
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
    flex-grow: 1;
}

.element-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.element-info.grow {
    flex-grow: 1;
    margin: 0 20px;
    border-left: solid 1px var(--dark);
    border-right: solid 1px var(--dark);
}

.info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.constraints-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
    padding-bottom: 30px;
    background-color: var(--white);
}

.constraint-card {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.constraints-all {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.constraints-disabled {
    display: flex;
    flex-flow: column nowrap;
    min-width: 270px;
}

.constraint-card-info {
    padding: 5px;
    border: solid 3px var(--primary2);
    border-radius: 5px;
    min-width: 250px;
    min-height: 100px;
    max-width: 250px;
    max-height: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.constraint-card-info:hover {
    cursor: pointer;
}

.selected {
    background-color: var(--primary2);
}

.selected:hover {
    background-color: var(--primary1);
    border-color: var(--primary1);
}

.unselected {
    background-color: var(--white);
}

.unselected:hover {
    background-color: var(--whitish);
}

.constraint-card-title {
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 10px;
    text-align: center;
}

.constraint-card-description {
    padding-bottom: 5px;
    flex-grow: 2;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    min-height: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.constraint-card-additional {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.icon-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.icon-div {
    height: 32px;
    width: 32px;
}

.icon-info {
    height: 32px;
    width: 32px;
}

.constraint-group-modifier {
    padding: 10px 30px 10px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color: var(--white);
    border-top: solid 2px var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-element {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.pad-top-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.neutral {
    background-color: var(--primary2);
}

.neutral:hover {
    background-color: var(--primary1);
}

.danger {
    background-color: var(--danger2);
}

.danger:hover {
    background-color: var(--danger1);
}

button {
    width: 100px;
    min-height: 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.divbutton {
    display: flex;
    justify-content: center;
    align-content: center;
}

.divslider {
    display: flex;
    flex-direction: row;
}

.divslider div {
    text-align: center;
}

.divtext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4px;
}

.hor-sep {
    height: 10px;
}

.ver-sep {
    width: 10px;
}

.ver-bar {
    height: 1px;
    margin: 4px 0;
    background-color: var(--dark);
}

.hor-bar {
    margin: 0 4px;
    width: 1px;
    background-color: var(--dark);
}

input:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

.icon-checkbox {
    background-color: transparent;
}


/* img.icon */