* {
    font-family: Arial, sans-serif;
    user-select: none;
}

.transition {
    transition: 0s;
}

:root {
    --whitish: #f7f8f3;
    /* --whitish: transparent; */
    --white: #fff;
    /* --white: transparent; */
    --primary1: #2c83c6;
    --primary2: #39a8f0;
    --primary3: #62beef;
    --primary4: #a6d4ec;
    --danger1: #c33726;
    --danger2: #e24c33;
    --danger3: #dd6d55;
    --danger4: #e1a793;
    --neutral: #e3e3e3;
    --dark: #333;
    --green: #2ec229;
    --greeny: #259e21;
}

body>div {
    margin: 0;
    min-height: 100vh;
}

.page {
    width: inherit;
    max-width: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.search-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--white);
    padding: 10px;
    min-width: 200px;
    max-width: 200px;
    padding-bottom: 120px;
    border-right: solid 2px var(--dark);
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 50px;
    padding-right: 50px;
}

.text-field {
    padding: 5px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    width: 180px;
}

.pad-children * {
    padding: 10px;
}


/* .button {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.button button {
    border-radius: 5px;
    border: none;
}

.button.neutral {
    
} */

#constraints-body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: var(--white);
    padding-bottom: 120px;
    flex-grow: 1;
}

#constraint-header {
    position: sticky;
    height: 100px;
    top: 0px;
    background-color: var(--white);
}

#constraint-info, #constraint-edit {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

#constraint-info-body {
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
    flex-grow: 1;
}

.element-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5px;
}

.element-info.title {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    justify-content: space-between;
}

.element-info.grow {
    flex-grow: 1;
    /* width: 600px; */
    margin: 0 20px;
    /* border-left: solid 1px var(--dark);
    border-right: solid 1px var(--dark); */
    min-width: max-content;
    /* width: max-content; */
    max-width: 960px;
}

#constraint-header-title {
    font-weight: bold;
}

#constraint-header-comment {
    font-size: 80% !important;
}

.info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.constraints-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    padding-bottom: 30px;
    background-color: var(--white);
}

.constraint-card {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.constraint-card-disabled {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.constraints-all {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px;
}

.constraints-disabled {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 373px;
    border-left: solid 1px black;
}

.constraint-card-info {
    padding: 5px;
    border: solid 3px var(--primary2);
    border-radius: 5px;
    min-width: 300px;
    min-height: 100px;
    max-width: 300px;
    max-height: 100px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.constraint-card-text {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.constraint-card-info-disabled {
    padding: 5px;
    border: solid 3px var(--neutral);
    border-radius: 5px;
    min-width: 300px;
    min-height: 70px;
    max-width: 300px;
    max-height: 70px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.constraint-card-info:hover {
    cursor: pointer;
}

.constraint-card-info-disabled:hover {
    cursor: pointer;
}

.selected {
    background-color: var(--primary2);
}

.selected:hover {
    background-color: var(--primary1);
    border-color: var(--primary1);
}

.unselected {
    background-color: var(--white);
}

.unselected:hover {
    background-color: var(--whitish);
}

.constraint-card-title {
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 10px;
    text-align: left;
    overflow: hidden;
    max-width: 250px;
}

.constraint-card-description {
    padding-bottom: 5px;
    flex-grow: 2;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    min-height: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
}

.constraint-card-additional {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.icon-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.icon-div {
    height: 24px;
    width: 24px;
}

.icon-div * {
    padding: 2px;
}

.icon-info {
    height: 24px;
    width: 24px;
}

.constraint-group-modifier {
    padding: 10px 30px 10px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color: var(--white);
    border-top: solid 2px var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-element {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.pad-top-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.neutral {
    background-color: var(--primary2);
}

.neutral:hover {
    background-color: var(--primary1);
}

.danger {
    background-color: var(--danger2);
}

.danger:hover {
    background-color: var(--danger1);
}

.green {
    background-color: var(--green);
}

.green:hover {
    background-color: var(--greeny);
}

button:hover {
    cursor: pointer;
}

.divbutton {
    display: flex;
    justify-content: center;
    align-content: center;
}

.divslider {
    display: flex;
    flex-direction: row;
}

.divslider div {
    text-align: center;
}

.divtext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4px;
}

.hor-sep {
    height: 10px;
}

.ver-sep {
    width: 10px;
}

.ver-bar {
    height: 1px;
    margin: 4px 0;
    background-color: var(--dark);
}

.hor-bar {
    margin: 0 4px;
    width: 1px;
    background-color: var(--dark);
}

input:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

.icon-checkbox {
    background-color: transparent;
}


/* img.icon */

#params {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#params > * {
    margin: 2px
}

.float {
    position: fixed;
    right: -125px;
    width: 150px;
    height: 80px;
    background-color: var(--greeny);
    transition: 0.1s;
    text-align: left;
}

.float:hover {
    right: -10px;
}

#show-disabled {
    top: 320px;
}

#show-solver {
    top: 380px;
}

.display-none {
    display: none;
}

.bar-button {
    width: 150px;
}

.constraints-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.constraints-section-title {
    font-size: 140%;
    font-weight: bold;
}

.constraints-section-full {
    margin-bottom: 40px;
}

.div-popup {
    position: absolute;
    z-index: 100;
    width: 400px;
    left: -160px;
    top: 35px;
    min-height: 100px;
    background-color: var(--white);
    border: 2px solid var(--dark);
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* align-items: center; */
    padding: 5px;
}

.buttons-for-parameters {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.form-check{
    margin: 2px
}

.form-check:hover {
    cursor: pointer;
}

.form-check *:hover {
    cursor: pointer;
}

#params button {
    position: relative;
}
