{% extends "base.html" %}

{% block title %} EDT {% endblock %}
{% block content %}
    {% load static %}
    <script>
    var all_periods = {{ periods|safe }}
    </script>
    <script type="text/javascript" src="{% static 'importation/importation.js' %}"></script>

    <h1>Télécharger la feuille de dispo</h1>
    <select id="period" >
{#        <option value="-1" selected disabled hidden>Choose a selector</option>#}
    </select>
    <button id="btn_config_2" onclick="download_file_dispo();">Télécharger</button>

    <h1>Charger le fichier de disponibilité</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
{#        <p>Pour donner les disponibilités veuillez donner un fichier CSV ou xlsx</p>#}
            {{ form }}
            <p><button type="submit">Charger fichier</button></p>
        </fieldset>
        {% if ERROR %}
            <p>{{ ERROR }}</p>
        {% endif %}
    </form>
    <script>
    init_dropdown_period();
    </script>

{% endblock %}
