{% extends "base.html" %}

{% block title %} EDT {% endblock %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'configuration/style.css' %}"/>
    <script>
        var step = {{ step }};
        var departements = {{ departements|safe }};
    </script>
    <h1>Etape 1 - Configuration de la base de données</h1>
    <div class="step">
        <h3>Télécharger le fichier de configuration de la base de données</h3>
        <p>Téléchargez puis remplissez le fichier ci-dessous.</p>
            Cliquer pour télécharger le fichier de config 1
            <a href="get_config_file/"><button id="btn_config_1">Télécharger</button></a>
    </div>

    <div class="step">
        <h3>Importer un fichier pour configurer la base de données</h3>
        <p>Importer le fichier de configuration rempli.<br>
        Seul le format xlsx est accepté.</p>
        <form action="import_config_file/" method="post" enctype="multipart/form-data" id="config_1">
                {% csrf_token %}
            <fieldset>
                <label>Département</label><br>
                <input type="radio" name="radio_creations" value="1" required><span>Créer</span>
                <input type="radio" name="radio_creations" value="2" required><span>Modifier</span><br>
                <div id="depart_choice"></div>
                {{ form_config_1 }}
                <input type="submit" value="Importer">
            </fieldset>
        </form>

        <div id="error_config_1">
            Status : <p></p>
        </div>
    </div>
    <h1>Etape 2 - Plannifier les cours par semaine</h1>
    <div class="step">
    <h3>Télécharger le fichier de plannification des cours par semaine</h3>
        <p>Téléchargez puis remplissez le fichier ci-dessous.</p>
            Cliquer pour télécharger le fichier de config 2
        <form action="get_planif_file/">
        <select name="departement">
            {% for depart in departements %}
                <option value={{ depart.abbrev }} >{{ depart.name }}</option>
            {% endfor %}
        </select>
{#            <a href="get_planif_file/"><button id="btn_config_2">Télécharger</button></a>#}
            <input id="btn_config_2" type="submit" value="Télécharger">
        </form>
    </div>

    <div class="step">
        <h3>Importer le fichier de plannification des cours</h3>
        <p>Importer le fichier de plannification rempli.<br>
        Seul le format xlsx est accepté.</p>
<!--        <form action="/configuration/import_planif_file/" method="post" enctype="multipart/form-data" id="config_2">-->
        <form action="import_planif_file/" method="post" enctype="multipart/form-data" id="config_2">
            {% csrf_token %}
            <select name="departement">
                {% for depart in departements %}
                    <option value={{ depart.abbrev }} >{{ depart.name }}</option>
                {% endfor %}
            </select>
            {{ form_config_2 }}
            <input type="submit" value="Importer">
        </form>
        <div id="error_config_2">
            Status : <p></p>
        </div>
    </div>

<script type="text/javascript" src="{% static 'configuration/configuration.js' %}"></script>
{% endblock %}
