{% extends "flopeditor/base.html" %}

{% block main-class %}container{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'flopeditor:flopeditor-home' %}">FlopEditor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block nav-classes-rooms %}{% endblock %}">
                <a class="nav-link"
                    href="{% url 'flopeditor:flopeditor-department-rooms' department_abbrev=department_abbrev %}">Salles</a>
            </li>
            <li class="nav-item {% block nav-classes-groups %}{% endblock %}">
                <a class="nav-link"
                    href="{% url 'flopeditor:flopeditor-department-groups' department_abbrev=department_abbrev %}">Groupes</a>
            </li>
            <li class="nav-item {% block nav-classes-modules %}{% endblock %}">
                <a class="nav-link"
                    href="{% url 'flopeditor:flopeditor-department-modules' department_abbrev=department_abbrev %}">Modules</a>
            </li>
            <li class="nav-item {% block nav-classes-class %}{% endblock %}">
                <a class="nav-link"
                    href="{% url 'flopeditor:flopeditor-department-classes' department_abbrev=department_abbrev %}">Cours</a>
            </li>
            <li class="nav-item {% block nav-classes-parameters %}{% endblock %}">
                <a class="nav-link"
                    href="{% url 'flopeditor:flopeditor-department-parameters' department_abbrev=department_abbrev %}">Paramètres</a>
            </li>

        </ul>
        <span class="navbar-text">
            Departement: {{ department_abbrev }}
        </span>
    </div>
</nav>
{% endblock %}