{% load static %}
<!DOCTYPE html>
{% block html %}
<html lang="fr-fr" dir="ltr">
    <head>

        {% block head %}

        {% block meta %}
        <meta charset="utf-8">
        <title>{% block title %}FlopEditor - {{ title }}{% endblock %}</title>

        {% block link %}
        <link rel="stylesheet" href="{% static 'flopeditor/lib/fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'flopeditor/lib/bootstrap-material-design/css/bootstrap-material-design.min.css' %}">
        <link rel="stylesheet" href="{% static 'flopeditor/css/flopeditor.css' %}">
        {% endblock %}

        {% endblock %}

        {% endblock %}
    </head>
    <body class="{% block body-class %}bg-grey{% endblock %}">
        {% block body %}

        {% block navbar %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="{% url 'flopeditor:flopeditor-home' %}">FlopEditor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% block nav-classes-rooms %}{% endblock %}">
                        <a class="nav-link"
                            href="{% url 'flopeditor:flopeditor-department-rooms' department_abbrev=department.abbrev %}">Salles</a>
                    </li>
                    <li class="nav-item {% block nav-classes-groups %}{% endblock %}">
                        <a class="nav-link"
                            href="{% url 'flopeditor:flopeditor-department-training-programmes' department_abbrev=department.abbrev %}">Élèves</a>
                    </li>
                    <li class="nav-item {% block nav-classes-modules %}{% endblock %}">
                        <a class="nav-link"
                            href="{% url 'flopeditor:flopeditor-department-modules' department_abbrev=department.abbrev %}">Modules</a>
                  </li>
                     <li class="nav-item {% block nav-classes-course %}{% endblock %}">
                        <a class="nav-link"
                            href="{% url 'flopeditor:flopeditor-department-course-types' department_abbrev=department.abbrev %}">Cours</a>
                    </li>
                    <li class="nav-item {% block nav-classes-parameters %}{% endblock %}">
                        <a class="nav-link"
                            href="{% url 'flopeditor:flopeditor-department-parameters' department_abbrev=department.abbrev %}">Paramètres</a>
                    </li>
                </ul>
                {% if not list_departments %}
                <span class="navbar-text">Département {{ department.name }}</span>
                {% else %}
                <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle text-white border border-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Département {{ department.name }}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    {% for dept in list_departments %}
                      <a class="dropdown-item" href="{% url request.resolver_match.view_name department_abbrev=dept.abbrev %}">{{ dept.name }}</a>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
                <div class="ml-2">
                  <button class="btn btn-raised btn-secondary" data-toggle="modal" data-target="#modal-profil" title='Profil'> <i class='fas fa-user'></i></button>
                </div>
              </div>
        </nav>
        {% endblock %}

        <div id="main" class="{% block main-class %}container{% endblock %}">
            {% block content %}
            {% endblock %}
        </div>

        {% block footer %}
        {% endblock %}

        {% block modal %}

        <div class="modal fade text-black" id="modal-profil" tabindex="-1" role="dialog" aria-labelledby="modal-profil" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Votre profil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                  <div class="card container">
                    <div class="card-body pb-0">
                      <div class="form-group row">
                        <div class="col-sm-4  mt-3 " style="border-right: solid 1px grey;">
                          <div class="form-group">
                            <p class="h6"><u><strong>Statut</strong></u></p>
                          </div>
                            {% if not statue_vacataire is None %}
                              <div class="col-form-label">
                                <label> Statut : {{ status }}</label>
                              </div>
                              <div class="col-form-label">
                                <label>Statut vacataire : {{ status_vacataire }}</label>
                              </div>
                              <div class="col-form-label">
                                <label>Employeur : {{ employer }}</label>
                              </div>
                            {% endif %}
                            {% if statue_vacataire is None %}
                             <div class="col-form-label">
                               <label> {{ status }}</label>
                             </div>
                            {% endif %}
                        </div>
                         <div class="col-sm-8 mt-3">
                            <div class="form-group row">
                              <div class="col-sm-12 h6">
                                <u><strong>Informations</strong></u>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Id</label>
                              <div class="col-auto col-form-label">
                                {{ request.user.username }}
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Nom</label>
                              <div class="col-auto col-form-label">
                                {{ request.user.first_name }}
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Prénom</label>
                              <div class="col-auto col-form-label">
                                {{ request.user.last_name }}
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label">email</label>
                              <div class="col-auto col-form-label">
                                {{ request.user.email }}
                              </div>
                            </div>

                              <!--
                              </div>

                                  <a type="button"
                                      href="#"
                                      class="btn btn-raised btn-info mx-auto mt-4">Modifier</a>

                            </div>
                            -->
                       </div>
                      </div>
                     </div>
                    </div>
                   </div>
                  </div>
                 </div>

        {% endblock %}

        {% block script %}
        <script src="{% static 'flopeditor/lib/jquery/jquery-3.2.1.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'flopeditor/lib/popper/popper.js' %}" charset="utf-8"></script>
        <script src="{% static 'flopeditor/lib/bootstrap-material-design/js/bootstrap-material-design.min.js' %}" charset="utf-8"></script>
        <script>
            $(document).ready(function() { $('body').bootstrapMaterialDesign(); });
        </script>
        {% endblock %}

        {% endblock %}
    </body>
</html>
{% endblock %}
