{% extends "flopeditor/base.html" %}
{% load static %}

{% block link %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'flopeditor/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block body-class %}bg-dark{% endblock %}

{% block main-class %}container h-50{% endblock %}

  {% block navbar %} {% endblock %}



<!--
    <div class='col-md-5 pt-2 pl-2'>
      <a href="{% url 'index' %}" class="d-block mx-auto mx-sm-0" style='max-width:300px'>
        <img src="{% static 'base/img/flop2.png' %}" class='btn btn-raised p-0' style='max-width:300px' alt="Retourner vers FlopEDT">
      </a>
    </div>

-->




{% block content %}


<div class="row">


  <div class="container row justify-content-center mt-5  ">
      <div class="col-lg-8">
          <div class="card container">
              <h5 class="card-header">Votre profil</h5>
              <div class="card-body pb-0">
                  <div class="form-group row">

                      <div class="col-sm-4  mt-3 " style="border-right: solid 1px grey;">
                          <div class="form-group">
                              <p class="h6"><u><strong>Statut</strong></u></p>
                          </div>
                          {% if not statue_vacataire is None %}
                          <div class="col-form-label">
                              <label> Statut : {{ statue }}</label>
                          </div>
                          <div class="col-form-label">
                              <label>Statut vacataire : {{ statue_vacataire }}</label>
                          </div>
                          <div class="col-form-label">
                              <label>Employeur : {{ employer }}</label>
                          </div>
                          {% endif %}

                          {% if statue_vacataire is None %}
                          <div class="col-form-label">
                              <label> {{ statue }}</label>
                          </div>
                          {% endif %}

                      </div>
                      <div class="col-sm-8 mt-3">
                          <div class="form-group row">
                              <div class="col-sm-12 h6">
                                  <u><strong>Informations</strong></u>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Id</label>
                              <div class="col-auto col-form-label">
                                  {{ request.user.username }}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Nom</label>
                              <div class="col-auto col-form-label">
                                  {{ request.user.first_name }}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-5 col-form-label">Prénom</label>
                              <div class="col-auto col-form-label">
                                  {{ request.user.last_name }}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-5 col-form-label">email</label>
                              <div class="col-auto col-form-label">
                                  {{ request.user.email }}
                              </div>
                          </div>



                      </div>
                          <a type="button"
                              href="javascript:window.history.back()"
                              class="btn btn-raised btn-info mx-auto mt-4">Retour</a>
                        <!--  <a type="button"
                              href="#"
                              class="btn btn-raised btn-info mx-auto mt-4">Modifier</a> -->

                    </div>
              </div>
          </div>
      </div>
  </div>
</div>
  {% endblock %}
